body{
    background-color: #fdfdfd;
    box-sizing: border-box;
}


/* DESCRIPTION CONTAINER */
.first{
    min-height: 500px;
}


/* IMAGE CONTAINER */
.image-container{
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: white;
    box-shadow: 0 15px 30px rgba(201, 201, 201, 0.4),
  0 30px 100px rgba(196, 193, 183,0.2);
  border-radius: 10px;
}

.images{
    padding-bottom: 30px;
}

.image-container img{
    object-fit: contain;
    width: 330px;
    height: 230px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #eff0f2;
    /* background-color: #eff0f2;  */
    cursor: pointer;
}


/* LIGHTBOX */
#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox.active > img{
    object-fit: contain;
    max-width: 700px;
    max-height: 425px;
}




/* OTHER DEVICES */
@media only screen and (max-width:900px){

    .nav-item{
        margin-top: 10px;
        text-align: center;
    }

    /* HERO SECTION */
    .custom-heading-container{
        text-align: center;
        margin-top: 100px;
    }

    .custom-hero-container{
        text-align: center;
        margin-top: 100px;
    }

    #title{
        font-size: 50px;
    }

}

