

/* SEARCH FORM */
.form-container{
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Inter', sans-serif;
}

.form-title{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
}

.search-btn{
    padding: 10px 20px;
    background-color: #ff4747;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* RESULTS SECTION */
.results-container{
    margin-top: 100px;
    text-align: center;
}

.results-title{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
}

.modal-btn{
    color: #383838;
    background-color: white;
    border: 2px solid #383838;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    padding: 7px 16px;
    font-weight: 500;
}

.modal-btn:hover{
    background-color: #383838;
    color: white;
    transition-duration: 0.2s;
}


/* RESULT CARD SECTION */
.result-card{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #b8b6b0; */
    border-radius: 15px;
    align-items: center;
    height: 270px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    box-shadow: 0 15px 30px rgba(201, 201, 201, 0.4),
  0 30px 100px rgba(196, 193, 183,0.2);
}

/* rgba(201, 201, 201, 0.5) */

.image-container{
    padding-left: 20px;
    padding-right: 20px;
}

.result-image-contain{
    object-fit: contain;
    width: 330px;
    height: 230px;
    border: 1px solid #b8b6b0;
    border-radius: 12px;
}

.info-container{
    padding: 20px;
    width: 510px;
    height: 270px;
    text-align: left;
    position: relative;
    border-left: 1px solid #b8b6b0;

}

.property-short-info{
    color: #717171;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.society-name{
    font-family: 'Inter', sans-serif;
    color: #49494a;
}

.features{
    font-family: 'Inter', sans-serif;
    color: #717171;
    font-weight: 400;
}

.info-button-container{
    width: 500px;
    position: absolute;
    bottom: 20px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
}

.property-info-rent{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #49494a;
}

.view-property-btn{
    color: white;
    padding: 10px 20px;
    background-color: #ff4747;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;
}

.view-property-btn:hover{
    text-decoration: none;
    color: white;
}

.shortlist-property-btn{
    color: #ff4747;
    padding: 7px 20px;
    border: 2px solid #ff4747;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-left: 40px;
    background-color: white;
}

.shortlist-property-btn:hover{
    text-decoration: none;
    color: #ff4747;
    background: #fff0f0;
}




/* OTHER DEVICES */
@media only screen and (max-width:900px){

    .nav-item{
        margin-top: 10px;
        text-align: center;
    }


    .result-card{
        display: block;
        width:90%;
        min-height: 700px;
        margin-bottom: 600px;
    }

    .result-image-contain{
        margin-top: 20px;
    }

    .info-container{
        border:none;
        margin-top: 20px;
        margin-right: 0px;
    }
}


@media only screen and (max-width: 768px){

    .info-container{
        min-height: 400px;
        max-width: 80%;
        margin-right: 0px;
    }

    .info-button-container{
        display:block;
        margin-top: 20px;
        max-width: 90%;
        padding:0px;
    }

    .info-button-container > button{
        display: block;
        margin-top: 20px;
        width:90%;
        margin-left:0;
        margin-right: 0;
    }
    
    .info-button-container > a{
        display: inline-block;
        margin-top:20px;
        width:90%;
        margin-left:auto;
        margin-right: auto;
        text-align:center;
    }
}